In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv("/content/Dataset  (1).csv")
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [ ]:
data['Cuisines'] = data['Cuisines'].fillna(data['Cuisines'].mode()[0])

We will chose to filter out the rows where the the restraunt is not rated because A rating of 0 usually means the restaurant has not been rated yet, rather than having an actual bad rating.
If we keep these, they might skew our analysis by making it look like some restaurants have terrible ratings when in reality, they just don't have enough reviews.

In [ ]:
data['Rating text'].unique()

array(['Excellent', 'Very Good', 'Good', 'Average', 'Not rated', 'Poor'],
      dtype=object)

In [ ]:
filtered_data = data[data['Rating text'] != 'Not rated']

In [ ]:
filtered_data['Rating text'].value_counts()

Rating text
Average      3737
Good         2100
Very Good    1079
Excellent     301
Poor          186
Name: count, dtype: int64

# ***Task: Table Booking and Online Delivery***

Determine the percentage of restaurants thatoffer table booking and online delivery.

In [ ]:
data['Has Online delivery'].value_counts()

Has Online delivery
No     7100
Yes    2451
Name: count, dtype: int64

In [ ]:
data['Has Table booking'].value_counts()

Has Table booking
No     8393
Yes    1158
Name: count, dtype: int64

In [ ]:
data["Has Table booking"] = data["Has Table booking"].str.lower()
data["Has Online delivery"] = data["Has Online delivery"].str.lower()

table_booking_percentage = (data["Has Table booking"] == "yes").mean() * 100
online_delivery_percentage = (data["Has Online delivery"] == "yes").mean() * 100

print(f"Percentage of restaurants with table booking: {table_booking_percentage:.2f}%")
print(f"Percentage of restaurants with online delivery: {online_delivery_percentage:.2f}%")

Percentage of restaurants with table booking: 12.12%
Percentage of restaurants with online delivery: 25.66%

Compare the average ratings of restaurantswith table booking and those without.

In [ ]:
# Calculate average rating for restaurants with and without table booking
avg_rating_with_table_booking = filtered_data[filtered_data["Has Table booking"] == "Yes"]["Aggregate rating"].mean()
avg_rating_without_table_booking = filtered_data[filtered_data["Has Table booking"] == "No"]["Aggregate rating"].mean()

print(f"Average rating with table booking: {avg_rating_with_table_booking:.2f}")
print(f"Average rating without table booking: {avg_rating_without_table_booking:.2f}")

Average rating with table booking: 3.59
Average rating without table booking: 3.41

Analyze the availability of online deliveryamong restaurants with different price ranges.

In [ ]:
online_delivery_analysis = (
    data.groupby("Price range")["Has Online delivery"]
    .apply(lambda x: (x == "yes").mean() * 100)
)
print("Percentage of restaurants with online delivery by price range:")
print(online_delivery_analysis)

Percentage of restaurants with online delivery by price range:
Price range
1    15.774077
2    41.310633
3    29.190341
4     9.044369
Name: Has Online delivery, dtype: float64

# ***Task: Price Range Analysis***

Determine the most common price range
among all the restaurants.

In [ ]:
# Find the most frequent price range
most_common_price_range = data["Price range"].mode()[0]

# Count occurrences of each price range
price_range_counts = data["Price range"].value_counts()
print("Most Common Price Range:", most_common_price_range)
print("\nPrice Range Counts:")
print(price_range_counts)

Most Common Price Range: 1

Price Range Counts:
Price range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

Calculate the average rating for each price
range.

In [ ]:
average_rating_by_price = filtered_data.groupby("Price range")["Aggregate rating"].mean()

# Print results
print("Average Aggregate Rating by Price Range:")
print(average_rating_by_price)

Average Aggregate Rating by Price Range:
Price range
1    3.238885
2    3.377167
3    3.777276
4    3.890957
Name: Aggregate rating, dtype: float64

Identify the color that represents the highest
average rating among different price ranges.

In [ ]:
highest_avg_rating_price_range = average_rating_by_price.idxmax()
rating_color_for_highest_avg = filtered_data[filtered_data["Price range"] == highest_avg_rating_price_range]["Rating color"].iloc[0]
print(f"The color with the highest average rating among different price ranges is: {rating_color_for_highest_avg}")

The color with the highest average rating among different price ranges is: Green

# ***Task: Feature Engineering***

Extract additional features from the existingcolumns, such as the length of the restaurantname or address.

In [ ]:
data['Restaurant Name Length'] = data['Restaurant Name'].apply(len)
data['Address Length'] = data['Address'].apply(len)

In [ ]:
print(data[['Restaurant Name Length']].head())
print(data[['Address Length']].head())

   Restaurant Name Length
0                      16
1                      16
2                      22
3                       4
4                      11
   Address Length
0              71
1              67
2              56
3              70
4              64

Create new features like "Has Table Booking"or "Has Online Delivery" by encodingcategorical variables.

In [ ]:
data['Has Table Booking'] = data['Has Table booking'].apply(lambda x: 1 if x == 'Yes' else 0)
data['Has Online Delivery'] = data['Has Online delivery'].apply(lambda x: 1 if x == 'Yes' else 0)
print(data[['Has Table Booking', 'Has Online Delivery']].head())

   Has Table Booking  Has Online Delivery
0                  0                    0
1                  0                    0
2                  0                    0
3                  0                    0
4                  0                    0